{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>WATCH SHOP</title>
<link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<!--theme-style-->
<link href="{% static '/css/style.css' %}"rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0-rc.1/chartjs-plugin-datalabels.min.js" integrity="sha512-+UYTD5L/bU1sgAfWA0ELK5RlQ811q8wZIocqI7+K0Lhh8yVdIoAMEs96wJAIbgFvzynPm36ZCXtkydxu1cs27w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--script-->
</head>
<body>
	<!--header-->
	<!-- <div class="header">
		<div class="bottom-header">
			<div class="container">
				<div class="header-bottom-left">
						<a href="/"><img src="{% static 'images/mainlogo.png' %}" alt=" " /></a>
					<div class="clearfix"> </div>
				</div>
				<div class="option-block">
					{% if not request.user.is_authenticated %}
											<div><a href="/login"><span> </span>ВОЙТИ</a></div>
											<div><a href="/register"><span> </span>ЗАРЕГЕСТРИРОВАТЬСЯ</a></div>
					{% else %}

											<div><a href="/logout"><span> </span>ВЫЙТИ</a></div>
									{% if request.user.is_superuser == 1 %}
											<div><a href="/change_order"><span> </span>ЗАКАЗЫ</a></div>
											<div><a href="/change_res"><span> </span>БРОНЬ</a></div>
											<div><a href="/add_meal"><span> </span>НОВОЕ БЛЮДО</a></div>
									{% elif request.user.is_staff == 1 %}
											<div><a href="/apply_arriv"><span> </span>ПОДТВЕРЖДЕНИЕ ПРИБЫТИЯ</a></div>
											<div><a href="/apply_payment"><span> </span>ВЫПОЛНЕНИЕ ЗАКАЗОВ</a></div>
									{% else %}
											<div><a href="/myorders"><span> </span>МОИ ЗАКАЗЫ</a></div>
											<div><a href="/myreservations"><span> </span>МОЯ БРОНЬ</a></div>
											<div><a href="/makeorder"><span> </span>СДЕЛАТЬ ЗАКАЗ</a></div>
											<div><a href="/choosedate"><span> </span>ЗАБРОНИРОВАТЬ МЕСТО</a></div>
											<div><a href="/top_meal"><span>ТОП ЗАКАЗЫВАЕМЫХ БЛЮД </span></a></div>
									{% endif %}
					{% endif %}
					<div><a href="/menu/"><span> </span>МЕНЮ</a></div>
					<div><a href="/scheme"><span> </span>СХЕМА ЗАЛА</a></div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div> -->

	<header class="p-3 bg-dark text-white">
		<div class="container_b"> <!--0_0-->
		  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
			  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
			</a>
	
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
			  <li><a href="#" class="nav-link px-2 text-secondary"><span>W a t c h  &nbsp&nbspS h o p</span></a></li>
			  <li><a href="/catalog/" class="nav-link px-2 text-white">Каталог</a></li>
			  {% if user.is_authenticated %}
				{% if user.is_staff %}
					<li><a href="/orders_to_process/" class="nav-link px-2 text-white">Обработать заказы</a></li>
					<li><a href="/add_watch/" class="nav-link px-2 text-white">Добавить новый товар</a></li>
				{% else %}
			  		<li><a href="/cart/" class="nav-link px-2 text-white">Корзина</a></li>
			  		<li><a href="/my_orders/" class="nav-link px-2 text-white">Мои заказы</a></li>
				{% endif %}
			  {% endif %}
			</ul>
	
			<!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
			  <input type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Search..." aria-label="Search">
			</form> -->
	
			<div class="text-end">
				<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					{% if user.is_authenticated %}
						<li><a href="/profile/" class="nav-link px-2 text-white">Профиль</a></li>
						<li><a href="/logout/" class="nav-link px-2 text-white">Выйти</a></li>
					{% else %}
						<li><a href="/login/" class="nav-link px-2 text-white">Войти</a></li>
						<li><a href="/register/" class="nav-link px-2 text-white">Зарегистрироваться</a></li>
					{% endif %}
				  </ul>
			</div>
		  </div>
		</div>
	  </header>

		<!-- grids_of_4 -->
		<div>
			<style>
			    .table-main{
			      border-collapse: collapse;
			    }
			    .table-main td{
						max-width: 100%;
			      padding: 8px;
			      text-align: left;
			      border-bottom: 1px solid #ddd;
			    }
			    .table-main tr:nth-child(odd){
			      background-color: #f5f5f5;
			    }
			    .table-main tr:hover{
			      background-color: #ffff99;
			    }

			</style>
			{% block content %}
            {% endblock %}
			<div class="clearfix"> </div>
		</div>
	<div class="clearfix"> </div>
</div>
</body>
</html>
