{% extends 'mainapp/base.html' %}

{% load static %}

{% load i18n %}

{% block content %}
{% language 'ru' %}
<div class="container">
    <h1 id="yes">Смена пароля</h1>
    <p>Введите данные</p>
    <hr>
    <form action="" method="post"> {% csrf_token %}

        {% for field in form %}
        {% if field.name == 'user_id' %}
            <div style="display: none">
                {{field.errors}}
                {{ field.label_tag }}</b>{{ field }}
            </div>
        {% else %}
            {{field.errors}}
            {{ field.label_tag }}</b>{{ field }}
        {% endif %}
        {% endfor %}

    <hr>

    <br/>
    <input type="submit" value="Подтвердить смену пароля" onclick="changePasswPost()">
    </form>
</div>

<!-- <script>
    var generated_csrf_token = "{{ csrf_token }}";

    async function changePasswPost() {
        var token = "{{token}}".split(" ")[0];
        var new_pass = document.getElementById('new_password').value;
        var verification = document.getElementById('verification').value;
        document.getElementById("yes").innerHTML = "Paragraph changed.";
        fetch("http://localhost:8000/UserProfile/change_password/", {
            method: "PUT",
            body: JSON.stringify({new_password: new_pass, password_verification: verification}),
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "X-CSRFToken": generated_csrf_token,
                "Authorization": token
            }
        }).then(result => result.json())
            .then(result => {
                document.getElementById("yes").innerHTML = JSON.stringify(result)
            });

    }
</script> -->
{% endlanguage %}
{% endblock %}