{% extends 'mainapp/base.html' %}


{% load i18n %}


{% block content %}
  
    {% language 'ru' %}
	<div class="container">
	<h1 id="yes">Регистрация</h1>
	<p>Введите данные регистрации</p>
	<hr>
		<form action="" method="post"> {% csrf_token %}
		    <div class="  register-top-grid">
			      <div>
					      {{ form.as_p }}
						  <hr>
						  
					      <br><input type="submit" value="Зарегистрироваться">
			      </div>
			  </div>
		</form>
		<div class="clearfix"> </div>
		{% endlanguage %}
	</div>
{% endblock %}
